@use "variables" as *;

@font-face {
  font-family: "supply";
  src: url("/fonts/supply_regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "supply";
  src: url("/fonts/supply-ultralight.woff") format("woff");
  // TODO: We need 100
  font-weight: 200;
  font-style: normal;
}

body {
  font-family: supply;
  margin: 0;
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  margin: 0;
  text-align: var(--bs-body-text-align);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: $bg-app-grey;
}

.prep {

  &::before {
    content: "_";
  }

}

h2 {
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 1.3;
}

small, .small {
  // TODO: We need 100
  //font-weight: 100;
  font-weight: 200 !important;
}

.color--lab {
  color: $lab;
}

.color--brute {
  color: $brute;
}

.color--freak {
  color: $freak;
}

.color--step {
  color: $step;
}

.color--fuse {
  color: $fuse;
}


/*
h1 {
  font-family: "PPSupplyMono-Regular", monospace;
  font-weight: 400;
}

h2 {
  font-family: "PPSupplyMono-UltraLight", monospace;
  font-weight: 100;
}

p {
  font-family: "PPSupplyMono-Regular", monospace;
  font-weight: 200;
}

li {
  font-family: "PPSupplyMono-Regular", monospace;
  font-weight: 400;
}

button {
  font-family: "PPSupplyMono-UltraLight", monospace;
  font-weight: 200;
}
  */