$lab: #1217f7;
$brute: #ff3f3a;
$freak: #ff993b;
$step: #e0fb4a;
$fuse: #793efe;
$color-text: rgb(221, 221, 221);
$color-secondary: #00b1a9;

$bg-app-grey: #E9E9E9;
$bg-app-white: #FFFFFF;

$typo-primary-color: black;